<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Articles</title>
  </head>
  <body>
    <header>
      <%include partials/header%>
    </header>
    <main class="container">
      <h2>List of Articles</h2>
      <section class="articles">
        <%articles.forEach(ele=>{%>
        <div class="each-article">
          <a href="/articles/<%=ele.slug%>" class="article-anchor"><%=ele.title%></a>
        </div>
        <%})%>
        <a href="/articles/new" class="btn btn-create">Add Article</a>
      </section>
    </main>
  </body>
</html>
