<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
     <section class="edit-comment-sec">
         <h2>Edit your comment</h2>
        <form action="/comments/<%=comment.id%>/update" method="POST">
            <textarea name="content" rows="10"><%=comment.content%></textarea>
            <input class="btn" type="submit" value="Update">
            <a class="btn" href="/articles/<%=comment.articleId.slug%>">back</a>
        </form>
     </section>
</body>
</html>