<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <%include partials/header%>
    </header>
    <main>
      <section class="container center index-sec">
        <h1>Welcome to <%= title %></h1>
    <a href="/articles" class="button"><span>Go to articles</span></a>
      </section>
    </main>
  </body>
</html>
